<header>
    <div class="bloco nav">
      <nav class="navbar">
        <ul class="itens">
          <li><a href="../" class="li">HOME</a></li>
          <li><a href="/criar" class="li">CADASTRO</a></li>
        </ul>
      </nav>
    </div>
   
    <div>
      <img
        src="https://live.staticflickr.com/65535/52140464817_f2e43d5e89_k.jpg"
        class="imgHeader"
        alt="imagem header"
      />
    </div>
  </header>