<section class="search">
    <form action="/pesquisa" method="POST">
        <input type="text" name="lugar" placeholder="Pesquise no catalogo">
        <button type="submit"><i class="gg-search"></i></button>
    </form>
</section>