@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=McLaren&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Orbitron&family=Pangolin&family=Patrick+Hand&display=swap");

@import url('https://css.gg/search.css');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Fredoka;
}

header {
  background-color: aliceblue;
  background-size: cover;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1.6rem;
  background-image: linear-gradient(lightblue, rgb(61, 167, 202));
  align-items: center;
  justify-content: right;
 
}

.search{
  justify-self: right;

 
}

.imgHeader {
  width: 100%;
  display: flex;
}

.navbar ul.itens {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
}

.li {
  display: flex;
  align-items: flex-end;
  margin-right: 5rem;
  letter-spacing: 3px;
  color: rgba(15, 14, 14, 0.5);
  font-size: 80%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.li:hover {
  cursor: pointer;
  color: rgb(244, 248, 21);
  background-color: rgb(0, 0, 0, 0.02);
  transform: scale(1.2);
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: aliceblue;
  padding-top: 5%;
}

.cartao {
  padding: 0.1rem;
  margin: 0 1.5rem 1.5rem;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(252, 252, 252),
    rgb(231, 240, 249)
  );
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(188, 185, 185);
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 12rem;
  height: 20rem;
  border-radius: 0.3rem;
}

div.cartao:hover {
  transform: scale(1.1);
}
.cartao img {
  width: 100%;
}

.cartaoTopo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.elementos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}
#editar {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #0037ff;
  color: #0037ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 0.1rem;
}

#apagar {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #db1717;
  color: #db1717;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 1rem;
}

#editar:hover {
  background-color: #0037ff;
  color: #fff;
}

#apagar:hover {
  background-color: #db1717;
  color: #fff;
}

@media (max-width: 1028px) {
  h1 {
    text-align: center;
    max-width: 100%;
    padding-bottom: 10%;
  }
}

footer {
  background-image: linear-gradient(lightblue, rgb(61, 167, 202));
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 999;
}

footer p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
}

section#mensagem {
  padding: 1.5rem;
  background-image: linear-gradient(rgb(30, 5, 120), rgb(30, 81, 192));
  color: #d2dbd3;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

span#close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}


.message {
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  padding: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
}

.message-danger {
  background-color: #ffbac6;
  color: #b4001e;
}

.message-success {
  background-color: #c0ffba;
  color: #007a0a;
}

.message-info {
  background-color: #babfff;
  color: #0003b4;
}

.message-warning {
  background-color: #fffaba;
  color: #b48400;
}

.message i {
  cursor: pointer;
  font-size: 1.7rem;
}

/* modal */
.modal-overlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #dc0a2d;
  padding: 1rem;
  color: #fff;
}

.modal-header a#close-modal-put {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.modal-body {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

/* search */
.search {
  padding-right: 2rem;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  width: 15rem;
  border: 1px solid #270acc;
}

.search button {
  padding: 0.5rem;
  border: 1px solid #459ad2;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #459ad2;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search button:hover {
  background-color: rgb(170, 194, 247);
  color: #0a169a;
}

#result-search-space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin: 2rem;
}

#result-search-space a {
  text-decoration: none;
  color: #fff;
  background-color: #9a0a7d;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #9a0a7d;
  transition: all 0.3s ease-in-out;
  margin-right: 2rem;
}

#result-search-space a:hover {
  color: #dc0a2d;
  background-color: #fff;
}

#result-search-space h2 {
  color: #dc0a2d;
  margin: 2rem;
  font-size: 2rem;
}